html {
    scroll-snap-type: y mandatory;
}

.app {
    background-color: black;
    display: grid;
    height: 100vh;
    place-items: center;
}

.app-videos {
    position: relative;
    height: 800px;
    border-radius: 20px;
    overflow: scroll;
    width: 80%;
    max-width: 500px;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.app-videos::-webkit-scrollbar {
    display: none;
}